body{
  text-align: center;
  font-family: arial;
  background: rgb(238, 61, 61);

}
.card {
background:yellow;
width: 250px;
margin: 50px auto;
padding: 15px;
border-radius: 10px;
box-shadow: 0 0 10px yellow;

}
img{
  width: 100%;
  border-radius: 10px;
}
.price {
  color: green;
  font-weight: bold;
}
button{
background: rgb(54, 5, 119);
color: white;
border: none;
padding: 8px 15px;
border-radius: 5px;
cursor:pointer;
}
button:hover {
background:
darkblue;

}